{% extends 'base.html' %}

{% block content %}
<!-- loop through key and values of price.Display's dictionary -->
{% for key,value in price.DISPLAY.items %}
  <strong>Name: </strong>{{ key }}<br/>
  <strong>Price:</strong>{{ value.USD.PRICE}}<br />
  <strong>Daily High:</strong>{{ value.USD.HIGHDAY }}<br />
  <strong>Daily Low:</strong>{{ value.USD.LOWDAY }}<br />
  <strong>MarketCap:</strong><br />{{ value.USD.MKTCAP }}
  <hr>
{% endfor %}

<!-- //created employer's homepage -->
<div class="jumbotron">
  <h1 class="display-4">Welcome to Crpto</h1>
  <p class="lead">Crpto Currency</p>

    <a class="btn btn-primary btn-lg" href="#" role="button">Before Get To Work Click First</a>
  </p>
</div>

  <div class="container">
    <div class="row">
      <!-- loop through api.Data -->
        {% for x in api.Data %}
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="{{ x.imageurl }}" class="card-img-top" alt="{{ x.source }}">
            <div class="card-body">
              <h5 class="card-title">{{ x.title }}</h5>
              <p class="card-text">{{ x.body }}</p>
              <a href="{{ x.url }}" class="btn btn-primary">Read More ...</a>
            </div>
          </div>
          <br/>
        </div>
        {% endfor %}
    </div>
  </div>

  {{ api.Data }}
{% endblock %}
