{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="card-group">

    <!--bootstrap card with 3 horizontal images-->
    <div class="row">
      <div class="card col-md-4">
        <img class="card-img-top"
          src="https://i.imgur.com/ixh3TCj.jpg">

        <div class="card-body">
          <h3 class="card-title">Compare</h3>
          <p class="card-text">JavaScript | Python</p>
        </div>
      </div>

      <div class="card col-md-4">
        <img class="card-img-top"
          src="https://i.imgur.com/kIQTCbu.png">

        <div class="card-body">
          <h3 class="card-title text-primary">Placement</h3>
          <p class="card-text">Sudo Placement Course</p>
        </div>
      </div>

      <div class="card col-md-4">
        <img class="card-img-top"
          src="https://analystnotes.com/graph/l2/18/SS18SAsuba3.jpg">

        <div class="card-body">
          <h3 class="card-title">DSA</h3>
          <p class="card-text">DS & Algo Course</p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
